openapi: 3.0.0
info:
  contact:
    email: hello@getoutline.com
  description: |
    # Introduction

    The Outline API is structured in an RPC style. It enables you to
    programatically interact with all aspects of Outline’s data – in fact, the
    main application is built on exactly the same API.

    The API structure is available as an
    [openapi specification](https://github.com/outline/openapi) if that’s your
    jam – it can be used to generate clients for most programming languages.

    # Making requests

    Outline’s API follows simple RPC style conventions where each API endpoint is
    a method on `https://app.getoutline.com/api/method`. Both `GET` and `POST`
    methods are supported but it’s recommended that you make all call using POST.
    Only HTTPS is supported and all response payloads are JSON.

    When making `POST` requests, request parameters are parsed depending on
    Content-Type header. To make a call using JSON payload, you must pass
    Content-Type: application/json header, here’s an example using CURL:

    ```
    curl https://app.getoutline.com/api/documents.info \
    -X 'POST' \
    -H 'authorization: Bearer MY_API_KEY' \
    -H 'content-type: application/json' \
    -H 'accept: application/json' \
    -d '{"id": "outline-api-NTpezNwhUP"}'
    ```

    Or, with JavaScript:

    ```javascript
    const response = await fetch("https://app.getoutline.com/api/documents.info", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: "Bearer MY_API_KEY"
      }
    })

    const body = await response.json();
    const document = body.data;
    ```

    # Authentication

    To access API endpoints, you must provide a valid API key. You can create new
    API keys in your [account settings](https://app.getoutline.com/settings). Be
    careful when handling your keys as they give access to all of your documents,
    you should treat them like passwords and they should never be committed to
    source control.

    To authenticate with API, you can supply the API key as a header
    (`Authorization: Bearer YOUR_API_KEY`) or as part of the payload using `token`
    parameter. Header based authentication is highly recommended so that your keys
    don’t accidentally leak into logs.

    Some API endpoints allow unauthenticated requests for public resources and
    they can be called without an API key.

    # Errors

    All successful API requests will be returned with a 200 or 201 status code
    and `ok: true` in the response payload. If there’s an error while making the
    request, the appropriate status code is returned with the error message:

    ```
    {
      "ok": false,
      "error": "Not Found"
    }
    ```

    # Pagination

    Most top-level API resources have support for "list" API methods. For instance,
    you can list users, documents, and collections. These list methods share
    common parameters, taking both `limit` and `offset`.

    Responses will echo these parameters in the root `pagination` key, and also
    include a `nextPath` key which can be used as a handy shortcut to fetch the
    next page of results. For example:

    ```
    {
      ok: true,
      status: 200,
      data: […],
      pagination: {
        limit: 25,
        offset: 0,
        nextPath: "/api/documents.list?limit=25&offset=25"
      }
    }
    ```

    # Policies

    Most API resources have associated "policies", these objects describe the
    current API keys authorized actions related to an individual resource. It
    should be noted that the policy "id" is identical to the resource it is
    related to, policies themselves do not have unique identifiers.

    For most usecases of the API, policies can be safely ignored. Calling
    unauthorized methods will result in the appropriate response code – these can
    be used in an interface to adjust which elements are visible.
  title: Outline API
  version: 0.1.0
servers:
- description: Production
  url: https://app.getoutline.com/api
security:
- http: []
tags:
- description: |
    `Attachments` represent a file uploaded to cloud storage. They are created
    before the upload happens from the client and store all the meta information
    such as file type, size, and location.
  name: Attachments
- description: |
    `Auth` represents the current API Keys authentication details. It can be
    used to check that a token is still valid and load the IDs for the current
    user and team.
  name: Auth
- description: |
    `Collections` represent grouping of documents in the knowledge base, they
    offer a way to structure information in a nested hierarchy and a level
    at which read and write permissions can be granted to individual users or
    groups of users.
  name: Collections
- description: |
    `Comments` represent a comment either on a selection of text in a document
    or on the document itself.
  name: Comments
- description: |
    `Documents` are what everything else revolves around. A document represents
    a single page of information and always returns the latest version of the
    content. Documents are stored in [Markdown](https://spec.commonmark.org/)
    formatting.
  name: Documents
- description: |
    `Events` represent an artifact of an action. Whether it is creating a user,
    editing a document, changing permissions, or any other action – an event
    is created that can be used as an audit trail or activity stream.
  name: Events
- description: |
    `FileOperations` represent background jobs for importing or exporting files.
    You can query the file operation to find the state of progress and any
    resulting output.
  name: FileOperations
- description: |
    `Groups` represent a list of users that logically belong together, for
    example there might be groups for each department in your organization.
    Groups can be granted access to collections with read or write permissions.
  name: Groups
- description: |
    `Revisions` represent a snapshop of a document at a point in time. They
    are used to keep tracking of editing and collaboration history – a document
    can also be restored to a previous revision if neccessary.
  name: Revisions
- description: |
    `Shares` represent authorization to view a document without being a member
    of the team. Shares are created in order to give access to documents publicly.
    Each user that shares a document will have a unique share object.
  name: Shares
- description: |
    `Users` represent an individual with access to the knowledge base. Users
    can be created automatically when signing in with SSO or when a user is
    invited via email.
  name: Users
- description: |
    `Views` represent a compressed record of an individual users views of a
    document. Individual views are not recorded but a first, last and total
    is kept per user.
  name: Views
paths:
  /attachments.create:
    post:
      description: Creating an attachment object creates a database record and returns
        the inputs needed to generate a signed url and upload the file from the client
        to cloud storage.
      operationId: attachments_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_attachments_create_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Create an attachment
      tags:
      - Attachments
      x-openapi-router-controller: outline_openapi.controllers.attachments_controller
      x-codegen-request-body-name: body
  /attachments.delete:
    post:
      description: Deleting an attachment is permanant. It will not delete references
        or links to the attachment that may exist in your documents.
      operationId: attachments_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_attachments_redirect_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete an attachment
      tags:
      - Attachments
      x-openapi-router-controller: outline_openapi.controllers.attachments_controller
      x-codegen-request-body-name: body
  /attachments.redirect:
    post:
      description: "Load an attachment from where it is stored based on the id. If\
        \ the attachment is private then a temporary, signed url with embedded credentials\
        \ is generated on demand."
      operationId: attachments_redirect_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_attachments_redirect_post_request'
        x-body-name: body
      responses:
        "302":
          description: The url for the attachment
      summary: Retrieve an attachment
      tags:
      - Attachments
      x-openapi-router-controller: outline_openapi.controllers.attachments_controller
      x-codegen-request-body-name: body
  /auth.config:
    post:
      description: Retrieve authentication options
      operationId: auth_config_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_auth_config_post_200_response'
          description: OK
      summary: Retrieve auth config
      tags:
      - Auth
      x-openapi-router-controller: outline_openapi.controllers.auth_controller
  /auth.info:
    post:
      description: Retrieve authentication details for the current API key
      operationId: auth_info_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_auth_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
      summary: Retrieve auth
      tags:
      - Auth
      x-openapi-router-controller: outline_openapi.controllers.auth_controller
  /collections.add_group:
    post:
      description: This method allows you to give all members in a group access to
        a collection.
      operationId: collections_add_group_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_add_group_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_add_group_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Add a group to a collection
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.add_user:
    post:
      description: This method allows you to add a user membership to the specified
        collection.
      operationId: collections_add_user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_add_user_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_add_user_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Add a collection user
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.create:
    post:
      operationId: collections_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_create_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Create a collection
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.delete:
    post:
      description: Delete a collection and all of its documents. This action can’t
        be undone so please be careful.
      operationId: collections_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_delete_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete a collection
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.documents:
    post:
      operationId: collections_documents_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_documents_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a collections document structure
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.export:
    post:
      description: Triggers a bulk export of the collection in markdown format and
        their attachments. If documents are nested then they will be nested in folders
        inside the zip file. The endpoint returns a `FileOperation` that can be queried
        to track the progress of the export and get the url for the final file.
      operationId: collections_export_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_export_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_export_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Export a collection
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.export_all:
    post:
      description: Triggers a bulk export of all documents in and their attachments.
        The endpoint returns a `FileOperation` that can be queried through the fileOperations
        endpoint to track the progress of the export and get the url for the final
        file.
      operationId: collections_export_all_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_export_all_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_export_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Export all collections
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.group_memberships:
    post:
      description: This method allows you to list a collections group memberships.
        This is the list of groups that have been given access to the collection.
      operationId: collections_group_memberships_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_group_memberships_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_group_memberships_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all collection group members
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.info:
    post:
      operationId: collections_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a collection
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.list:
    post:
      operationId: collections_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pagination'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all collections
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.memberships:
    post:
      description: This method allows you to list a collections individual memberships.
        It's important to note that memberships returned from this endpoint do not
        include group memberships.
      operationId: collections_memberships_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_memberships_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_memberships_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all collection memberships
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.remove_group:
    post:
      description: This method allows you to revoke all members in a group access
        to a collection. Note that members of the group may still retain access through
        other groups or individual memberships.
      operationId: collections_remove_group_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_remove_group_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Remove a collection group
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.remove_user:
    post:
      description: This method allows you to remove a user from the specified collection.
      operationId: collections_remove_user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_remove_user_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Remove a collection user
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /collections.update:
    post:
      operationId: collections_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_update_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Update a collection
      tags:
      - Collections
      x-openapi-router-controller: outline_openapi.controllers.collections_controller
      x-codegen-request-body-name: body
  /comments.create:
    post:
      description: Create a comment
      operationId: comments_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_comments_create_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_comments_create_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Create a comment
      tags:
      - Comments
      x-openapi-router-controller: outline_openapi.controllers.comments_controller
      x-codegen-request-body-name: body
  /comments.delete:
    post:
      description: Delete a comment
      operationId: comments_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_delete_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete a comment
      tags:
      - Comments
      x-openapi-router-controller: outline_openapi.controllers.comments_controller
      x-codegen-request-body-name: body
  /comments.list:
    post:
      description: This method will list all comments matching the given properties.
      operationId: comments_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_comments_list_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_comments_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all comments
      tags:
      - Comments
      x-openapi-router-controller: outline_openapi.controllers.comments_controller
      x-codegen-request-body-name: body
  /comments.update:
    post:
      description: Update a comment
      operationId: comments_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_comments_update_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_comments_create_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Update a comment
      tags:
      - Comments
      x-openapi-router-controller: outline_openapi.controllers.comments_controller
      x-codegen-request-body-name: body
  /documents.add_user:
    post:
      description: This method allows you to add a user membership to the specified
        document.
      operationId: documents_add_user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_add_user_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_add_user_post_200_response'
          description: OK
      summary: Add a document user
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.answerQuestion:
    post:
      description: This method allows asking direct questions of your documents –
        where possible an answer will be provided. Search results will be restricted
        to those accessible by the current access token. Note that "AI answers" must
        be enabled for the workspace.
      operationId: documents_answer_question_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_answerQuestion_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_answerQuestion_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Query documents with natural language
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.archive:
    post:
      description: Archiving a document allows outdated information to be moved out
        of sight whilst retaining the ability to optionally search and restore it
        later.
      operationId: documents_archive_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_star_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Archive a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.create:
    post:
      description: "This method allows you to create or publish a new document. By\
        \ default a document is set to the collection root. If you want to create\
        \ a nested/child document, you should pass parentDocumentId to set the parent\
        \ document."
      operationId: documents_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_create_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Create a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.delete:
    post:
      description: Deleting a document moves it to the trash. If not restored within
        30 days it is permenantly deleted.
      operationId: documents_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_delete_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.drafts:
    post:
      description: This method will list all draft documents belonging to the current
        user.
      operationId: documents_drafts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_drafts_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_comments_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all draft documents
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.export:
    post:
      operationId: documents_export_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_export_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_export_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Export a document as markdown
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.import:
    post:
      description: "This method allows you to create a new document by importing an\
        \ existing file. By default a document is set to the collection root. If you\
        \ want to create a nested/child document, you should pass parentDocumentId\
        \ to set the parent document."
      operationId: documents_import_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_documents_import_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Import a file as a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.info:
    post:
      operationId: documents_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.list:
    post:
      description: This method will list all published documents and draft documents
        belonging to the current user.
      operationId: documents_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_list_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_comments_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all documents
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.memberships:
    post:
      description: Users with direct membership to a document. To list all users with
        access to a document use `documents.users`.
      operationId: documents_memberships_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_memberships_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_collections_memberships_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: List document memberships
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.move:
    post:
      description: "Move a document to a new location or collection. If no parent\
        \ document is provided, the document will be moved to the collection root."
      operationId: documents_move_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_move_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_move_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Move a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.remove_user:
    post:
      description: This method allows you to remove a user membership from the specified
        document.
      operationId: documents_remove_user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_remove_user_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Remove a document user
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.restore:
    post:
      description: "If a document has been archived or deleted, it can be restored.\
        \ Optionally a revision can be passed to restore the document to a previous\
        \ point in time."
      operationId: documents_restore_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_restore_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Restore a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.search:
    post:
      description: This methods allows you to search your teams documents with keywords.
        Note that search results will be restricted to those accessible by the current
        access token.
      operationId: documents_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_search_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_search_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Search all documents
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.star:
    post:
      description: Starring a document gives it extra priority in the UI and makes
        it easier to find important information later.
      operationId: documents_star_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_star_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_star_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Star a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.templatize:
    post:
      description: This method allows you to createa new template using an existing
        document as the basis
      operationId: documents_templatize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_delete_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Create a template from a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.unpublish:
    post:
      description: Unpublishing a document moves it back to a draft status and out
        of the collection.
      operationId: documents_unpublish_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_star_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Unpublish a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.unstar:
    post:
      description: Starring a document gives it extra priority in the UI and makes
        it easier to find important information later.
      operationId: documents_unstar_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_star_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_star_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Unstar a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.update:
    post:
      description: This method allows you to modify an already created document
      operationId: documents_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_update_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Update a document
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.users:
    post:
      description: All users with access to a document. To list only users with direct
        membership to the document use `documents.memberships`
      operationId: documents_users_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_users_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_documents_users_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: List document users
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /documents.viewed:
    post:
      description: This method will list all documents recently viewed by the current
        user.
      operationId: documents_viewed_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_viewed_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_comments_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all recently viewed documents
      tags:
      - Documents
      x-openapi-router-controller: outline_openapi.controllers.documents_controller
      x-codegen-request-body-name: body
  /events.list:
    post:
      description: Events are an audit trail of important events that happen in the
        knowledge base.
      operationId: events_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_events_list_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all events
      tags:
      - Events
      x-openapi-router-controller: outline_openapi.controllers.events_controller
      x-codegen-request-body-name: body
  /fileOperations.delete:
    post:
      operationId: file_operations_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_fileOperations_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete a file operation
      tags:
      - FileOperations
      x-openapi-router-controller: outline_openapi.controllers.file_operations_controller
      x-codegen-request-body-name: body
  /fileOperations.info:
    post:
      operationId: file_operations_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_fileOperations_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_fileOperations_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a file operation
      tags:
      - FileOperations
      x-openapi-router-controller: outline_openapi.controllers.file_operations_controller
      x-codegen-request-body-name: body
  /fileOperations.list:
    post:
      operationId: file_operations_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_fileOperations_list_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_fileOperations_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all file operations
      tags:
      - FileOperations
      x-openapi-router-controller: outline_openapi.controllers.file_operations_controller
      x-codegen-request-body-name: body
  /fileOperations.redirect:
    post:
      description: "Load the resulting file from where it is stored based on the id.\
        \ A temporary, signed url with embedded credentials is generated on demand."
      operationId: file_operations_redirect_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_fileOperations_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve the file
      tags:
      - FileOperations
      x-openapi-router-controller: outline_openapi.controllers.file_operations_controller
      x-codegen-request-body-name: body
  /groups.add_user:
    post:
      description: This method allows you to add a user to the specified group.
      operationId: groups_add_user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups_add_user_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_add_user_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Add a group member
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.create:
    post:
      operationId: groups_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups_create_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Create a group
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.delete:
    post:
      description: Deleting a group will cause all of its members to lose access to
        any collections the group has previously been added to. This action can’t
        be undone so please be careful.
      operationId: groups_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_delete_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete a group
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.info:
    post:
      operationId: groups_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a group
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.list:
    post:
      operationId: groups_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_viewed_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all groups
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.memberships:
    post:
      description: List and filter all the members in a group.
      operationId: groups_memberships_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups_memberships_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_memberships_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all group members
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.remove_user:
    post:
      description: This method allows you to remove a user from the group.
      operationId: groups_remove_user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_remove_user_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_remove_user_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Remove a group member
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /groups.update:
    post:
      operationId: groups_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_groups_update_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_groups_create_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Update a group
      tags:
      - Groups
      x-openapi-router-controller: outline_openapi.controllers.groups_controller
      x-codegen-request-body-name: body
  /revisions.info:
    post:
      operationId: revisions_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_revisions_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_revisions_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a revision
      tags:
      - Revisions
      x-openapi-router-controller: outline_openapi.controllers.revisions_controller
      x-codegen-request-body-name: body
  /revisions.list:
    post:
      operationId: revisions_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_viewed_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_revisions_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all revisions
      tags:
      - Revisions
      x-openapi-router-controller: outline_openapi.controllers.revisions_controller
      x-codegen-request-body-name: body
  /shares.create:
    post:
      description: "Creates a new share link that can be used by to access a document.\
        \ If you request multiple shares for the same document with the same API key,\
        \ the same share object will be returned. By default all shares are unpublished."
      operationId: shares_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_shares_create_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_shares_info_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Create a share
      tags:
      - Shares
      x-openapi-router-controller: outline_openapi.controllers.shares_controller
      x-codegen-request-body-name: body
  /shares.info:
    post:
      operationId: shares_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_shares_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_shares_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Retrieve a share object
      tags:
      - Shares
      x-openapi-router-controller: outline_openapi.controllers.shares_controller
      x-codegen-request-body-name: body
  /shares.list:
    post:
      operationId: shares_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_documents_viewed_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_shares_list_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: List all shares
      tags:
      - Shares
      x-openapi-router-controller: outline_openapi.controllers.shares_controller
      x-codegen-request-body-name: body
  /shares.revoke:
    post:
      description: Makes the share link inactive so that it can no longer be used
        to access the document.
      operationId: shares_revoke_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_collections_delete_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Revoke a share
      tags:
      - Shares
      x-openapi-router-controller: outline_openapi.controllers.shares_controller
      x-codegen-request-body-name: body
  /shares.update:
    post:
      description: "Allows changing an existing shares published status, which removes\
        \ authentication and makes it available to anyone with the link."
      operationId: shares_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_shares_update_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_shares_info_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request failed one or more validations.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
      summary: Update a share
      tags:
      - Shares
      x-openapi-router-controller: outline_openapi.controllers.shares_controller
      x-codegen-request-body-name: body
  /users.activate:
    post:
      description: Activating a previously suspended user allows them to signin again.
        Users that are activated will cause billing totals to be re-calculated in
        the hosted version.
      operationId: users_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users_info_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Activate a user
      tags:
      - Users
      x-openapi-router-controller: outline_openapi.controllers.users_controller
      x-codegen-request-body-name: body
  /users.delete:
    post:
      description: "Deleting a user removes the object entirely. In almost every circumstance\
        \ it is preferable to suspend a user, as a deleted user can be recreated by\
        \ signing in with SSO again."
      operationId: users_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_attachments_delete_post_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The API key is missing or otherwise invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The current API key is not authorized to perform this action.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified resource was not found.
      summary: Delete a user
      tags:
      - Users
      x-openapi-router-controller: outline_openapi.controllers.users_controller
      x-codegen-request-body-name: body
  /users.info:
    post:
      operationId: users_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_users_info_post_200_response'
          description: OK
        "401":
          content:
[...]
