openapi: 3.0.3
info:
  contact:
    email: hello@goauthentik.io
  description: Making authentication simple.
  license:
    name: MIT
    url: https://github.com/goauthentik/authentik/blob/main/LICENSE
  title: authentik
  version: 2024.8.3
servers:
- url: https://id.customers.goauthentik.io/api/v3/
paths:
  /admin/apps/:
    get:
      description: Read-only view list all installed apps
      operationId: admin_apps_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/App'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
  /admin/metrics/:
    get:
      description: Login Metrics per 1h
      operationId: admin_metrics_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginMetrics'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
  /admin/models/:
    get:
      description: Read-only view list all installed models
      operationId: admin_models_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/App'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
  /admin/settings/:
    get:
      description: Settings view
      operationId: admin_settings_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
    patch:
      description: Settings view
      operationId: admin_settings_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSettingsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
      x-codegen-request-body-name: body
    put:
      description: Settings view
      operationId: admin_settings_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
      x-codegen-request-body-name: body
  /admin/system/:
    get:
      description: Get system information.
      operationId: admin_system_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
    post:
      description: Get system information.
      operationId: admin_system_create
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
  /admin/version/:
    get:
      description: Get running and latest version.
      operationId: admin_version_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
  /admin/workers/:
    get:
      description: Get currently connected worker count.
      operationId: admin_workers_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workers'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - admin
      x-openapi-router-controller: authentik_openapi.controllers.admin_controller
  /authenticators/admin/all/:
    get:
      description: Get all devices for current user
      operationId: authenticators_admin_all_list
      parameters:
      - explode: true
        in: query
        name: user
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Device'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/admin/duo/:
    get:
      description: Viewset for Duo authenticator devices (for admins)
      operationId: authenticators_admin_duo_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDuoDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    post:
      description: Viewset for Duo authenticator devices (for admins)
      operationId: authenticators_admin_duo_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuoDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/duo/{id}/:
    delete:
      description: Viewset for Duo authenticator devices (for admins)
      operationId: authenticators_admin_duo_destroy
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for Duo authenticator devices (for admins)
      operationId: authenticators_admin_duo_retrieve
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for Duo authenticator devices (for admins)
      operationId: authenticators_admin_duo_partial_update
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDuoDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for Duo authenticator devices (for admins)
      operationId: authenticators_admin_duo_update
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuoDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/sms/:
    get:
      description: Viewset for sms authenticator devices (for admins)
      operationId: authenticators_admin_sms_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSMSDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    post:
      description: Viewset for sms authenticator devices (for admins)
      operationId: authenticators_admin_sms_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMSDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/sms/{id}/:
    delete:
      description: Viewset for sms authenticator devices (for admins)
      operationId: authenticators_admin_sms_destroy
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for sms authenticator devices (for admins)
      operationId: authenticators_admin_sms_retrieve
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for sms authenticator devices (for admins)
      operationId: authenticators_admin_sms_partial_update
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSMSDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for sms authenticator devices (for admins)
      operationId: authenticators_admin_sms_update
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMSDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/static/:
    get:
      description: Viewset for static authenticator devices (for admins)
      operationId: authenticators_admin_static_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStaticDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    post:
      description: Viewset for static authenticator devices (for admins)
      operationId: authenticators_admin_static_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/static/{id}/:
    delete:
      description: Viewset for static authenticator devices (for admins)
      operationId: authenticators_admin_static_destroy
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for static authenticator devices (for admins)
      operationId: authenticators_admin_static_retrieve
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for static authenticator devices (for admins)
      operationId: authenticators_admin_static_partial_update
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedStaticDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for static authenticator devices (for admins)
      operationId: authenticators_admin_static_update
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/totp/:
    get:
      description: Viewset for totp authenticator devices (for admins)
      operationId: authenticators_admin_totp_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTOTPDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    post:
      description: Viewset for totp authenticator devices (for admins)
      operationId: authenticators_admin_totp_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TOTPDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/totp/{id}/:
    delete:
      description: Viewset for totp authenticator devices (for admins)
      operationId: authenticators_admin_totp_destroy
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for totp authenticator devices (for admins)
      operationId: authenticators_admin_totp_retrieve
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for totp authenticator devices (for admins)
      operationId: authenticators_admin_totp_partial_update
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTOTPDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for totp authenticator devices (for admins)
      operationId: authenticators_admin_totp_update
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TOTPDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/webauthn/:
    get:
      description: Viewset for WebAuthn authenticator devices (for admins)
      operationId: authenticators_admin_webauthn_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWebAuthnDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    post:
      description: Viewset for WebAuthn authenticator devices (for admins)
      operationId: authenticators_admin_webauthn_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/admin/webauthn/{id}/:
    delete:
      description: Viewset for WebAuthn authenticator devices (for admins)
      operationId: authenticators_admin_webauthn_destroy
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for WebAuthn authenticator devices (for admins)
      operationId: authenticators_admin_webauthn_retrieve
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for WebAuthn authenticator devices (for admins)
      operationId: authenticators_admin_webauthn_partial_update
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWebAuthnDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for WebAuthn authenticator devices (for admins)
      operationId: authenticators_admin_webauthn_update
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/all/:
    get:
      description: Get all devices for current user
      operationId: authenticators_all_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Device'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/duo/:
    get:
      description: Viewset for Duo authenticator devices
      operationId: authenticators_duo_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDuoDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/duo/{id}/:
    delete:
      description: Viewset for Duo authenticator devices
      operationId: authenticators_duo_destroy
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for Duo authenticator devices
      operationId: authenticators_duo_retrieve
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for Duo authenticator devices
      operationId: authenticators_duo_partial_update
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDuoDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for Duo authenticator devices
      operationId: authenticators_duo_update
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuoDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuoDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/duo/{id}/used_by/:
    get:
      description: Get a list of all objects that use this object
      operationId: authenticators_duo_used_by_list
      parameters:
      - description: A unique integer value identifying this Duo Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UsedBy'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/sms/:
    get:
      description: Viewset for sms authenticator devices
      operationId: authenticators_sms_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSMSDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/sms/{id}/:
    delete:
      description: Viewset for sms authenticator devices
      operationId: authenticators_sms_destroy
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for sms authenticator devices
      operationId: authenticators_sms_retrieve
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for sms authenticator devices
      operationId: authenticators_sms_partial_update
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSMSDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for sms authenticator devices
      operationId: authenticators_sms_update
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMSDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/sms/{id}/used_by/:
    get:
      description: Get a list of all objects that use this object
      operationId: authenticators_sms_used_by_list
      parameters:
      - description: A unique integer value identifying this SMS Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UsedBy'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/static/:
    get:
      description: Viewset for static authenticator devices
      operationId: authenticators_static_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStaticDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/static/{id}/:
    delete:
      description: Viewset for static authenticator devices
      operationId: authenticators_static_destroy
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for static authenticator devices
      operationId: authenticators_static_retrieve
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for static authenticator devices
      operationId: authenticators_static_partial_update
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedStaticDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for static authenticator devices
      operationId: authenticators_static_update
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/static/{id}/used_by/:
    get:
      description: Get a list of all objects that use this object
      operationId: authenticators_static_used_by_list
      parameters:
      - description: A unique integer value identifying this Static Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UsedBy'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/totp/:
    get:
      description: Viewset for totp authenticator devices
      operationId: authenticators_totp_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTOTPDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/totp/{id}/:
    delete:
      description: Viewset for totp authenticator devices
      operationId: authenticators_totp_destroy
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for totp authenticator devices
      operationId: authenticators_totp_retrieve
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for totp authenticator devices
      operationId: authenticators_totp_partial_update
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTOTPDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for totp authenticator devices
      operationId: authenticators_totp_update
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TOTPDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/totp/{id}/used_by/:
    get:
      description: Get a list of all objects that use this object
      operationId: authenticators_totp_used_by_list
      parameters:
      - description: A unique integer value identifying this TOTP Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UsedBy'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/webauthn/:
    get:
      description: Viewset for WebAuthn authenticator devices
      operationId: authenticators_webauthn_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWebAuthnDeviceList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /authenticators/webauthn/{id}/:
    delete:
      description: Viewset for WebAuthn authenticator devices
      operationId: authenticators_webauthn_destroy
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    get:
      description: Viewset for WebAuthn authenticator devices
      operationId: authenticators_webauthn_retrieve
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
    patch:
      description: Viewset for WebAuthn authenticator devices
      operationId: authenticators_webauthn_partial_update
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWebAuthnDeviceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
    put:
      description: Viewset for WebAuthn authenticator devices
      operationId: authenticators_webauthn_update
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnDeviceRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnDevice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
      x-codegen-request-body-name: body
  /authenticators/webauthn/{id}/used_by/:
    get:
      description: Get a list of all objects that use this object
      operationId: authenticators_webauthn_used_by_list
      parameters:
      - description: A unique integer value identifying this WebAuthn Device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UsedBy'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - authenticators
      x-openapi-router-controller: authentik_openapi.controllers.authenticators_controller
  /core/applications/:
    get:
      description: Custom list method that checks Policy based access instead of guardian
      operationId: core_applications_list
      parameters:
      - explode: true
        in: query
        name: for_user
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: meta_description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: meta_launch_url
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: meta_publisher
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: only_with_launch_url
        required: false
        schema:
          type: boolean
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: superuser_full_list
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApplicationList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
    post:
      description: Application Viewset
      operationId: core_applications_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
      x-codegen-request-body-name: body
  /core/applications/{slug}/:
    delete:
      description: Application Viewset
      operationId: core_applications_destroy
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
    get:
      description: Application Viewset
      operationId: core_applications_retrieve
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
    patch:
      description: Application Viewset
      operationId: core_applications_partial_update
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedApplicationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
      x-codegen-request-body-name: body
    put:
      description: Application Viewset
      operationId: core_applications_update
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
      x-codegen-request-body-name: body
  /core/applications/{slug}/check_access/:
    get:
      description: Check access to a single application by slug
      operationId: core_applications_check_access_retrieve
      parameters:
      - explode: true
        in: query
        name: for_user
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyTestResult'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
  /core/applications/{slug}/metrics/:
    get:
      description: Metrics for application logins
      operationId: core_applications_metrics_list
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Coordinate'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
  /core/applications/{slug}/set_icon/:
    post:
      description: Set application icon
      operationId: core_applications_set_icon_create
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
      x-codegen-request-body-name: body
  /core/applications/{slug}/set_icon_url/:
    post:
      description: Set application icon (as URL)
      operationId: core_applications_set_icon_url_create
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePathRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
      x-codegen-request-body-name: body
  /core/applications/{slug}/used_by/:
    get:
      description: Get a list of all objects that use this object
      operationId: core_applications_used_by_list
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          description: "Internal application name, used in URLs."
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UsedBy'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
      security:
      - authentik: []
      tags:
      - core
      x-openapi-router-controller: authentik_openapi.controllers.core_controller
  /core/authenticated_sessions/:
    get:
      description: AuthenticatedSession Viewset
      operationId: core_authenticated_sessions_list
      parameters:
      - explode: true
        in: query
        name: last_ip
        required: false
        schema:
          type: string
        style: form
[...]
